
<form action="/search/" method="get">
    <input type="text" id="search-box" class="form-control py-2" name="query" placeholder="Search" onkeypress="checkSubmit()">
</form>


<h6 class="pt-5">CATEGORIES</h6>

<ul class="list-group">
    {% for category in site.categories %}

        {% assign category_name = category[0] | downcase | downcase | url_escape | strip | replace: ' ', '-' %}
        {% assign category_url = site.url | append: '/category/' | append : category_name | append: '/' %}

        <li class="list-group-item border-0 pl-0"><a href="{{ category_url }}">{{ category[0] }} </a></li>
    {% endfor %}
</ul>

<h6 class="pt-5">ARCHIVES</h6>

<ul class="list-group">
{% for post in site.posts %}
    {% assign currentdate = post.date | date: "%B %Y" %}

    {% capture current_date_url %}
    {{site.url}}/archives/{{ post.date | date: "%Y" }}/{{ post.date | date: "%m" }}
    {% endcapture %}

    {% if currentdate != date %}
        <li class="list-group-item border-0 pl-0"><a href="{{ current_date_url }}"> {{ currentdate }} </a></li>
        {% assign date = currentdate %}
    {% endif %}
{% endfor %}
</ul>
